include ../button/button

mixin billboard({ type, title, imageName, content, backgroundColor, day, month, year, linkURL })
  - 
    const modifiers = {
      type: {
        events: 'billboard_type_events',
        news: 'billboard_type_news',
      },
      backgroundColor: {
        cyan: 'billboard_background-color_cyan',
        orangeRed: 'billboard_background-color_orange-red',
      },
    };
  .billboard(class=[modifiers.type[type], modifiers.backgroundColor[backgroundColor]])
    .billboard__image(
      style=`background-image: url("${require(`../../assets/images/billboard-images/${imageName}.png`)}")`
    )
    .billboard__content
      if type === 'news'
        .billboard__title= title
        .billboard__date #{day} #{month} #{year}
        .billboard__description= content

      if type === 'events'
        - const getEventModifier = modifiers.type.event;

        .billboard__date
          .billboard__event-day= day
          .billboard__event-month #{month}
        .billboard__title= title
        .billboard__description= content

        if linkURL
          form.billboard__button(action=linkURL)
            +button({
              size: 'small',
              content: 'add to calendar',
              width: 'greatest',
            })
        else
          .billboard__button
            +button({
              size: 'small',
              content: 'add to calendar',
              width: 'greatest',
            })
