include ../button/button

mixin billboard({ type, title, imageName, content, backgroundColor, day, month, year })
  div(class=`billboard billboard_background-color_${backgroundColor}`)
    .billboard__image
      img(src=require(`../../img/billboard-images/${imageName}.png`) alt=imageName)
    .billboard__content
      if type === "news"
        .billboard__title.billboard__title_type_new= title
        .billboard__date.billboard__date_type_new #{day} #{month} #{year}
        .billboard__description= content

      if type === "events"
        .billboard__date.billboard__date_type_event
          .billboard__event-day= day
          .billboard__event-month  #{month}
        .billboard__title.billboard__title_type_event= title
        .billboard__description= content
        .billboard__button
          +button({
            size: 'small',
            color: 'cyan',
            content: 'add to calendar',
            width: 'hundred-percents'
          })
