mixin contact-link({ color, attribute, data})
  .contact-link
    a.contact-link__link(
      class=`contact-link__link_color_${color}`,
      href=`${attribute}: ${data}`,
      target="_blank",
      rel="noopener noreferrer"
    )= data
