mixin button({ size, color = 'primary', content = 'button', width, inverse })
  -
    const widthModifiers = {
      greatest: 'button_width_greatest',
    };

    const sizeModifiers = {
      small: 'button_size_small',
    };

    const colorModifiers = {
      primary: 'button_color_primary',
      secondary: 'button_color_secondary',
    };
 
    const buttonModifiers = [
      inverse ? `${colorModifiers[color]}-inverse` : colorModifiers[color],
      widthModifiers[width],
      sizeModifiers[size],
    ];

  .button(class=buttonModifiers)
    button.button__button-element(
      type="submit",
      class="js-ripple",
      data-ripple-color=inverse ? color : "white"
    )= content
