mixin button({ size, color, content, width, inverse = false })
  -
    var backSize = width ? `button_size_${size} button_width_${width}` : `button_size_${size}`;
    var buttonColor = inverse ? `${color}-inverse` : color;
    var rippleColor = inverse ? color : 'white';

  .button(class=[backSize, `button_color_${color}`])
    button.button__button-element(
      type="submit",
      class=[`button__button-element_size_${size}`, `button__button-element_color_${buttonColor}`, "ripple"],
      data-ripple-color=rippleColor
    )= content
