include ../user-photo/user-photo

mixin user-profile({ name, job, theme })
  -
    const themeModifiers = {
      cyan: {
        name: 'user-profile__name_color_white',
        job: 'user-profile__job_color_white',
        tooltip: 'user-profile__tooltip_color_cyan',
        link: 'user-profile__link_theme_cyan',
      },
      orangeRed: {
        name: 'user-profile__name_color_orange-red',
        job: 'user-profile__job_color_black',
        tooltip: 'user-profile__tooltip_color_grey',
        link: 'user-profile__link_theme_orange-red',
      },
    };

  .user-profile
    +user-photo(name)

    - const modifiers = themeModifiers[theme];

    .user-profile__tooltip(class=modifiers.tooltip)
      span.user-profile__name(class=modifiers.name)= name
      span.user-profile__job(class=modifiers.job)= job

      .user-profile__links-container
        - for (var i = 1; i <= 3; i += 1)
          a.user-profile__link(
            href="/mock-address/change-me",
            class=modifiers.link,
            target="_blank", rel="noopener noreferrer"
          )
