include ../user-photo/user-photo

mixin user-profile({ name, job, theme, links = {} })
  -
    const themeModifiers = {
      primary: {
        name: 'user-profile__name_color_white',
        job: 'user-profile__job_color_white',
        tooltip: 'user-profile__tooltip_color_primary',
        link: 'user-profile__link_theme_primary',
      },
    secondary: {
        name: 'user-profile__name_color_secondary',
        job: 'user-profile__job_color_black',
        tooltip: 'user-profile__tooltip_color_gray',
        link: 'user-profile__link_theme_secondary',
      },
    };

  .user-profile
    +user-photo(name)

    - const modifiers = themeModifiers[theme];

    .user-profile__tooltip(class=modifiers.tooltip)
      span.user-profile__name(class=modifiers.name)= name
      span.user-profile__job(class=modifiers.job)= job

      .user-profile__links-container
        - 
          const { fb, twitter, dribbble } = links;
          const urlsArray = [fb, twitter, dribble];

        each url in urlsArray
          a.user-profile__link(
            class=modifiers.link,
            href=url || "/mock-address/change-me",
            target="_blank", rel="noopener noreferrer"
          )
