include ../user-photo/user-photo
include ../text-field/text-field
include ../button/button

mixin message-box({ theme = 'cyan', name = 'Sarah Brown', defaultMessage, chatLink, cameraLink } = {})
  -
    const mockLinkAddress = '/mock-address/change-me';

    chatLink = chatLink || mockLinkAddress;
    cameraLink = cameraLink || mockLinkAddress;
    defaultMessage = defaultMessage || 'Hey! So are we cool to meet at the art gallery? Say 8pm';

    const modifiers = {
      theme: {
        orangeRed: 'message-box__header_theme_orange-red',
        cyan: 'message-box__header_theme_cyan',
      },
    };

  .message-box
    .message-box__header(class=modifiers.theme[theme])
      .message-box__name= name
      .message-box__photo
        +user-photo(name)

    .message-box__chat
      .message-box__buttons
        a.message-box__chat-button(href=chatLink)
        a.message-box__camera-button(href=cameraLink)
      .message-box__message= defaultMessage
      form.message-box__form(method="post")
        .message-box__reply
          +text-field({
            tagName: 'textarea',
            name: 'reply',
            placeholder: 'Your reply here...',
            blockName: 'messageBox',
          })

        .message-box__reply-button
          +button({
            color: theme,
            content: 'reply',
            width: 'greatest',
          })
