mixin text-field({ type, tagName, name, placeholder, blockName })
  - 
    const typeModifiers = {
      for: {
        searchBar: 'text-field_type_for-search-bar',
        messageForm: 'text-field_type_for-message-form',
        messageBox: 'text-field_type_for-message-box',
      },
    };

    const classes = [
      'text-field',
      'js-text-field',
      typeModifiers.for[blockName],
    ];

  if tagName !== 'textarea'
    #{tagName}(type=type, name=name, placeholder=placeholder, class=classes)
  else if tagName === 'textarea'
    #{tagName}(name=name, placeholder=placeholder, class=classes)
  else
    input.text-field
