mixin text-field(options)
  - 
    const { tagName, name, placeholder, blockName, theme } = options;
    const mainClass = `text-field text-field_type_for-${blockName}`;
    const themeClass = `text-field_theme_${theme}`;
    const className = theme ? `${mainClass} ${themeClass}` : mainClass;

  if tagName !== 'textarea'
    #{tagName}(type=options.type, name=name, placeholder=placeholder, class=className)
  else if tagName === 'textarea'
    #{tagName}(name=name, placeholder=placeholder, class=className)
  else
    input.text-field
