mixin text-field({ type = 'text', tagName  = 'input', name, placeholder, blockName })
  - 
    const typeModifiers = {
      for: {
        searchBar: 'text-field_type_for-search-bar',
        messageForm: 'text-field_type_for-message-form',
        messageBox: 'text-field_type_for-message-box',
      },
    };

    const classes = [
      'text-field',
      'js-text-field',
      typeModifiers.for[blockName],
    ];

  #{tagName}(type=type, name=name, placeholder=placeholder, class=classes)
