mixin tick-box(isChecked, { id, name, value = "on" } = {})
  label.tick-box
    if name && id
      input.tick-box__input(type="checkbox" id=`tick-box-${id}` name=name value=value checked=isChecked)
    else if name
      input.tick-box__input(type="checkbox" name=name value=value checked=isChecked)
    else if id
      input.tick-box__input(type="checkbox" id=`tick-box-${id}` checked=isChecked)
    else
      input.tick-box__input(type="checkbox" checked=isChecked)

    .tick-box__check-mark-container
      .tick-box__check-mark
